<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Job Ad</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
<div th:insert="headers.html::menu"> </div>

<h2>Add Job Ad</h2>
<br />

<form method="post" action="#" th:action="@{/buy/jobs/add}">
    <table>
        <tr>
            <td>Ad Name:</td>
            <td><input type="text" th:field="${job.name}" /></td>
        </tr>
        <tr>
            <td>Job Title:</td>
            <td><input type="text" th:field="${job.jobTitle}" /></td>
        </tr>
        <tr>
            <td>Job Description:</td>
            <td><input type="text" th:field="${job.description}" /></td>
        </tr>
        <tr>
            <td>Contact Information:</td>
            <td><input type="text" th:field="${job.contactInfo}" /></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="number" th:field="${job.salary}" /> $</td>
        </tr>
        <tr>
            <td>Submit:</td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>